{{>components/header}}

<h2 class="conn">Connexion</h2>
{{#error}}
        <p class="error"><strong>Erreur:</strong> {{this}}</p>
    {{/error}}
<form action="/login/process" method="post">

    

    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" {{#username}}value="{{username}}"{{/username}} required>
   
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required>
    
    <input type="submit" value="Se connecter">
</form>

{{>components/footer}}