{{>components/header}}

<div class="entetePr">
    <a class="adminBtn" href="/admin/utilisateurs-liste">Consulter la liste des utilisateurs</a>
    <a class="adminBtn" href="/admin/consulter-parcours">Consulter la liste des parcours réalisés par les utilisateur</a>
</div>

<h1>Note moyenne des activités (ayant au moins une note) :</h1>
<table>
    <thead>
    <tr>
        <th>Adresse</th>
        <th>Label</th>
        <th>Note moyenne</th>
        <th>Nombre de notes</th>
    </tr>
    </thead>
    <tbody>
        {{#rating}}
        <tr>
            <td>{{address}}</td>
            <td>{{label}}</td>
            <td>{{rating}}</td>
            <td>{{nbNote}}</td>
        </tr>
        {{/rating}}
    </tbody>
</table>
{{>components/footer}}