{{>components/header}}

<a href="/admin/utilisateurs-liste"><button>Consulter la liste des utilisateurs</button></a>
<a href="/admin/consulter-parcours"><button>Consulter la liste des parcours réalisés par les utilisateur</button></a>

<h1>Liste des activités</h1>
<table>
    <thead>
    <tr>
        <th>Adresse</th>
        <th>Label</th>
        <th>Note moyenne</th>
    </tr>
    </thead>
    <tbody>
        {{#rating}}
        <tr>
            <td>{{address}}</td>
            <td>{{label}}</td>
            <td>{{rating}}</td>
        </tr>
        {{/rating}}
    </tbody>
</table>
{{>components/footer}}