{{>components/header}}

<div class="entetePr">
    <a class="adminBtn" href="/admin/utilisateurs-liste">Consulter la liste des utilisateurs</a>
    <a class="adminBtn" href="/admin/consulter-activités">Consulter la note moyenne des activités</a>
</div>

<h1>Parcours & commentaires :</h1>
<table>
    <thead>
    <tr>
        <th>Note</th>
        <th>Date</th>
        <th>Utilisateur</th>
        <th>Commentaire</th>
        <th>Activités</th>
    </tr>
    </thead>
    <tbody>
    {{#parcours}}
        <tr>
            <td>{{rating}}</td>
            <td>{{datetime}}</td>
            <td><a href="/admin/consulter-user/{{user.id}}">{{user.firstName}}, {{user.lastName}}</a></td>
            <td>{{commentaire}}</td>
            <td><ul>
                {{#activities}}
                    <li>{{label}}</li>
                {{/activities}}
            </ul></td>
        </tr>
    {{/parcours}}
    </tbody>
</table>

{{>components/footer}}