{{>components/header}}

<a href="/admin/utilisateurs-liste"><button>Consulter la liste des utilisateurs</button></a>
<a href="/admin/consulter-activités"><button>Consulter la note moyenne des activités</button></a>

<h1>Parcours & commentaires :</h1>
<table>
    <thead>
    <tr>
        <th>Note</th>
        <th>Date</th>
        <th>Utilisateur</th>
        <th>Commentaire</th>
        <th>Activités</th>
    </tr>
    </thead>
    <tbody>
    {{#parcours}}
        <tr>
            <td>{{rating}}</td>
            <td>{{datetime}}</td>
            <td><a href="/admin/consulter-user/{{user.id}}">{{user.firstName}}, {{user.lastName}}</a></td>
            <td>{{commentaire}}</td>
            <td><ul>
                {{#activities}}
                    <li>{{label}}</li>
                {{/activities}}
            </ul></td>
        </tr>
    {{/parcours}}
    </tbody>
</table>

{{>components/footer}}