{{>components/header}}

<a href="/admin/consulter-activités"><button>Consulter la note moyenne des activités</button></a>
<a href="/admin/consulter-parcours"><button>Consulter la liste des parcours réalisés par les utilisateur</button></a>

<h1>Liste des Utilisateurs</h1>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Âge</th>
        <th>Email</th>
        <th>Address</th>
        <th>Pathologie</th>
        <th>Role</th>
        <th>Consulter</th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{lastName}}</td>
            <td>{{firstName}}</td>
            <td>{{age}}</td>
            <td>{{email}}</td>
            <td>{{address}}</td>
            <td>{{#pathology}}{{pathology.label}}{{/pathology}}{{^pathology}}X{{/pathology}}</td>
            <td>{{role}}</td>
            <td><a href="/admin/consulter-user/{{id}}">Consulter</a></td>
        </tr>
    {{/users}}
    </tbody>
</table>

{{>components/footer}}