<div class="activities">
{{#activities}}
    <div class="activity items" >
    
        <a class="label" href="{{url}}">{{label}}</a>
        
        <p class="description">{{description}}</p>
        {{^containsCurrentUser}}
            <a class="addActivity" href="/add{{id}}">Ajouter activitées</a>
        {{/containsCurrentUser}}

    </div>
{{/activities}}
{{^activities}}

    <h3>Aucune activité</h3>

{{/activities}}
</div>