<form>

<label for="email" value="Adresse email:">
<input id="email" name="email" type="email">

<label for="mdp" value="Mot de passe:">
<input id="mdp" name="mdp" type="password">

<input type="submit" value="Se connecter">

</form>