<form class="parcoursRating" action="/noteParcours">
<h2>Notez votre parcours d'activités</h2>

<div class="notes">

    <input type="radio" name="star" class="rating" id="rating10" value="10">
    <label for="rating10"></label>

    <input type="radio" name="star" class="rating" id="rating9" value="9">
    <label for="rating9"></label>

    <input type="radio" name="star" class="rating" id="rating8" value="8">
    <label for="rating8"></label>

    <input type="radio" name="star" class="rating" id="rating7" value="7">
    <label for="rating7"></label>

    <input type="radio" name="star" class="rating" id="rating6" value="6">
    <label for="rating6"></label>

    <input type="radio" name="star" class="rating" id="rating5" value="5">
    <label for="rating5"></label>

    <input type="radio" name="star" class="rating" id="rating4" value="4">
    <label for="rating4"></label>

    <input type="radio" name="star" class="rating" id="rating3" value="3">
    <label for="rating3"></label>

    <input type="radio" name="star" class="rating" id="rating2" value="2">
    <label for="rating2"></label>

    <input type="radio" name="star" class="rating" id="rating1" value="1">
    <label for="rating1"></label>

</div>

<label for="commentaire">Laissez un commentaire à propos du parcours:</label>
<textarea id="commentaire" name="commentaire"></textarea>
</form>