<script type="text/javascript" src="javascript/index.js"></script>

<div class="carousel">
<h2>Recommandations</h2>
    
    
    <div class="acts" id="acts">
        {{#activitiesCarroussel}}

        
        <div class="acti it" id="item">

            <a class="label" href="{{url}}" id="label">{{label}}</a>

            <p class="description">{{description}}</p>
            <div class="activityBtn">
                {{^unlogged}}
                {{#containsCurrentUser}}
                    <button class="activityAction removeActivity" onclick="handleActivityStatusChange({{id}}, this)">Retirer activité</button>
                {{/containsCurrentUser}}
                {{^containsCurrentUser}}
                    <button class="activityAction addActivity" onclick="handleActivityStatusChange({{id}}, this)">Ajouter activité</button>
                {{/containsCurrentUser}}
            {{/unlogged}}
            </div>

            <div class="tag">
                {{#pathologies}}
                    <p>{{label}}</p>
                {{/pathologies}}
            </div>

            <div>
                {{#diciplines}}
                    {{label}}
                {{/diciplines}}
            </div>
        </div>  

        {{/activitiesCarroussel}}
        {{^activitiesCarroussel}}
            <h3>Aucune activités recommandées</h3>
        {{/activitiesCarroussel}}
    </div>

    <div class="carouselBtn">
        <button id="btnRight" onclick="toRight()"><</button>
        <button id="btnLeft" onclick="toLeft()">></button>
    </div>
    
</div>