.carousel {
    width: 38em;
    height: 30em;
    margin: 2em auto 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    overflow: hidden;
}

.acts {
    display: grid;
    grid-auto-flow: column;
    width: auto;
    height: 18em;
}

/*
.acti {
    width: 100em;
    background-color: grey;
    border: solid 1px black;
    transition: 1s;

}
*/

.acti {
    width: 37.9em;
    display: grid;
    grid-template-columns: 1fr 1fr 35%;
    grid-template-rows: 10% 40% 50%;
}

.it {
    margin: 0;
    border: solid 1px grey;
    border-radius: 2px;
    transition: .5s ease-out;
    cursor: pointer;
}

.it:hover {
    background-color: #e7e7e7;
}

.carouselBtn {
    display: flex;
    margin: 5px 0 5px 0;
    align-content: center;
    justify-content: center;
    column-gap: 1em;
}

.carouselBtn > * {
    background-color: var(--secondary);
    border: none;
    transition: .5s ease-in-out;
    width: 30%;
    height: 40%;
    font-size: 14pt;
}

.carouselBtn > *:hover {
    background-color: var(--main);
}

#btnLeft {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#btnRight {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}