<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Debug</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        .error {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }
        .error p {
            margin: 0;
            padding: 5px 0;
        }
        .error p:first-child {
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Une erreur s'est produite !</h1>
{{#errorCode}}
    <div class="error">
        <p>Code: {{errorCode}}</p>
    </div>
{{/errorCode}}
{{#errorDescription}}
    <div class="error">
        <p>Description: {{errorDescription}}</p>
    </div>
{{/errorDescription}}
{{#errorException}}
    <div class="error">
        <p>Exception: {{errorException}}</p>
    </div>
{{/errorException}}
</body>
</html>
