{{>components/header}}

{{^unlogged}}
    {{>components/recommend}}
{{/unlogged}}

{{>components/sort}}

{{>components/activities}}

<div class="centerLoad">
    <button class="load" onclick="asyncSearch(this)">Charger plus</button>
</div>

{{>components/footer}}