{{>components/header}}


{{#user}}
    <div class="entetePr">
        <h1 class="name">Profil de {{firstName}}, {{lastName}}</h1>
        <p class="age">{{age}}</p>
        <p class="gender">{{gender}}</p>
        <p class="adresse">{{address}}</p>
        <p class="pathologies">{{pathology.label}}</p>
    </div>
{{/user}}

<div>
    {{#allPathologies}}
        <p>{{label}}</p>
    {{/allPathologies}}
   
</div>

<form method="dialog">

    <label for="note">Quel note pour cette activité ?</label>

    <select id="notes" class="notes">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</form>



<h2 class="act">Vos activités</h2>

{{>components/activities}}








{{>components/footer}}