{{>components/header}}

{{#success}}
    <p class="success"><strong>Youpi:</strong> {{this}}</p>
{{/success}}

{{#errors}}
    <p class="error"><strong>Erreur:</strong> {{this}}</p>
{{/errors}}

{{>components/recommend}}

{{#user}}
    <div class="entetePr">
        <h1 class="name">Profil de {{firstName}}, {{lastName}}</h1>
        <p class="age">{{age}} ans</p>
        <p class="gender">{{gender}}.</p>
        <p class="pathology">Pathologie: 
        {{#pathology}}
            {{label}}.
        {{/pathology}}
        {{^pathology}}
            Aucune.
        {{/pathology}}
        </p>
        <p class="adresse">{{address}}</p>
    </div>
{{/user}}

<div>
    {{#allPathologies}}
        <p>{{label}}</p>
    {{/allPathologies}}
</div>

<h2 class="act">Vos activités</h2>

{{>components/activities}}


{{>components/rateParcours}}



{{>components/footer}}