{{>components/header}}


{{#user}}
    <div class="entetePr">
        <h1 class="name">Profil de {{firstName}}, {{lastName}}</h1>
        <p class="age">{{age}}</p>
        <p class="gender">{{gender}}</p>
        <p class="adresse">{{address}}</p>
        <ul class="pathology">
            {{#pathologies}}
                <li>{{label}}</li>
            {{/pathologies}}
        </ul>
    </div>
{{/user}}


<h2>Vos activités</h2>
<div class="activities">
{{#activities}}

    <p class="activity">{{label}}</p>

{{/activities}}
{{^activities}}

    <h3>Aucune activité</h3>

{{/activities}}
</div>








{{>components/footer}}